.hero{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}
.hero-text{
    color: #ffffff;
}
.hero-btn1{
    padding: 10px 15px 10px 15px;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}
.hero-btn2{
    padding: 10px 15px 10px 15px;
    background: none;
    color: #fff;
    border: none;
}

.row_2{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

img{
    max-width: 100%;
}

.nav-link{
    color: aqua;
}
